.outside{
    display: flex;
    justify-content: space-around;

    height : 90vh;
    .entry-text{
            position: relative;
    color: white;
    font-size: 40px;
    font-weight: 900;
    min-width: 45%;
    min-height: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
        padding-top: 43px;
    font-size: 43px;
    font-weight: 200;
    }
}