.outside{
    display: flex;
    justify-content: space-around;

    height : 90vh;
    .entry-text{
            position: relative;
    color: white;
    font-size: 40px;
    font-weight: 900;
    min-width: 45%;
    min-height: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
        padding-top: 43px;
    font-size: 43px;
    font-weight: 200;
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-device-pixel-ratio: 2) {
    .outside{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .entry-text{
          align-items: center;
          font-size: 30px;
          min-height: 30%;
        }
        .image2{
          height: 45vh !important;
        }

    }
  }