.outer-div{
    display: flex;
    justify-content: center;
    height: 30vh;
    opacity: 0.9;
    background-color: black;

    .inner-div{
        display: flex;
    flex-direction: column;
    .text-head{
            color: white;
            font-size: 23px;
            opacity: 0.7;

        
    }
       
        .text{
            font-size: 15px;
            color: white;
            line-height: 0.25;
            opacity: 0.7;

        }
    }
}